body {
  background: red !important;
}

.card1 {
  width: 300px;
  border-radius: 20px;
  display: inline-block;
  height: 350px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  margin-right: 14px;
  margin-bottom: 14px;
  position: relative;
  bottom: 0;
}


.fav-btn {
  border: 1px solid red;
  border-radius: 50%;
  padding: 10px;
  background: transparent;
  color: red;
  position: absolute;
  left: -10px;
  top: -10px;
  z-index:2;
  cursor:pointer;
}



