body {
  background: red !important;
}




.fav-btn {
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}


.fav-btn.active{
    background:blue;
    color:white;
}
